.App {
  text-align: center;
}



.header {
  background-color: darkgray;
  height: 94px;
  overflow: hidden;
  transition: .2s ease-out;
}

.header:hover {
  height: 300px;
}

.button {
  position: absolute;
  top: 12px;
  right: 50px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.nav-bar > h4 {
  margin: 10px;
}



@media(min-width: 1000px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header:hover{
    height: 94px;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav-bar > h4 {
    margin: 20px;
  }

  .button {
    display: none;
  }
}