* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  background-color: gray;
  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
}

.nav-drop {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 100px;
  display: none;
  height: 0px;
  overflow: hidden;
  transition: all 0.2s;
}

.nav-drop > li {
  text-align: right;
}

li {
  margin: 10px;
  list-style-type: none;
}

.nav-main {
  display: flex;
}

button {
  display: none;
}

.show {
  height: 155px;
}

@media (max-width: 800px) {
  button {
    display: block;
  }
  .nav-main {
    display: none;
  }
  .nav-drop {
    display: block;
  }
}
